/* Reset styles */
::after,
::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: "Lora", sans-serif;
}

body, html {
    height: 100%;
}

/* remove outer padding */

/* Remove rounded corners */
nav.sidebar.navbar {
    border-radius: 0px;
}


nav.sidebar {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows */
nav.sidebar-nav {
    height: 100%;
    width: 210px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 16px;
}

/* Sidebar styles */
nav.sidebar-nav .sidebar a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    color: #ddd;
    text-align: left;
	border-bottom: 1px solid white;
}

nav.sidebar-nav .sidebar a i {
    margin-right: 10px;
    font-size: 16px;
    color: #ddd;
}

nav.sidebar-nav .sidebar a span {
    flex-grow: 1;
    text-align: left;
    font-size: 14px;
}

nav.sidebar-nav .sidebar a:hover,
nav.sidebar-nav .sidebar a.active {
    background-color: #111;
    color: #fff;
    text-decoration: none;
}

.sidebar-logo a i{
	margin-right: 10px;
	font-size: 38px;
	color: rgb(0, 128, 255);
}
.sidebar-logo a span{
	flex-grow: 1;
	text-align: left;
	font-size: 28px;
}
.sidebar-logo a {
	display: flex;
	align-items: center;
	margin-left: 10px;
	padding: 10px 0 20px 0;
	font-weight: 300;
	width: 100%;
    color: white;
    text-decoration: none;
}
.sidebar-footer a i{
	margin-right: 10px;
	font-size: 20px;
	color: rgb(0, 128, 255);
}

/*sidebar-footer*/
.sidebar-footer a span{
	flex-grow: 1;
	text-align: left;
	font-size: 20px;
}
.sidebar-footer a{
	display: flex;
	align-items: center;
	margin-left: 15px;
	padding: 240px 0 20px 0;
	font-weight: 300;
	width: 100%;
	color: white;
	text-decoration: none;
}