<!DOCTYPE html>
<html th:replace="~{templates/layout :: layout(~{::title}, ~{::body}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{user.show.title}">User Info</title>
</head>
<body>
<div class="row">
  <aside class="col-md-4">
	<section class="user_info">
		<th:block th:if="${user}">
		<h1>
			<img th:attr="src=${#viewSupport.gravatarFor(user.email)}" class="gravatar" />
			[[${user.name}]]
		</h1>
		<form th:method="DELETE" th:action="@{'/users/'+${user.id}}">
		  <input type="submit" th:attr="value=#{user.delete}" value="Delete" />
	    </form>
	    </th:block>
	</section>
  </aside>
  
</div>
</body>
</html>