<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"?>
<html th:fragment="layout (title, content, links)" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title th:replace="${title}">[[#{meta.title}]]</title>
  <meta name="description" th:attr="content=#{meta.description}" />
  <meta name="keywords" th:attr="content=#{meta.keywords}" />
  <meta charset="UTF-8">

  <!-- Common styles and scripts -->
    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/all.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/login.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/sidebar.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/custom.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/style.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/searchRoom.css}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" >
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
    <link th:href="@{/html/templates/_header.html}">

</head>
<body>
  <div class="container">
    <div th:replace="${content}">
        <p>Layout content</p>
    </div>
   
  </div>  
</body>
</html>