<!DOCTYPE html>
<html lang="vi"
	th:replace="~{templates/layout :: layout(~{::title}, ~{::body}, ~{})}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title th:text="#{session.login.title}">Kala Hotel | Danh mục
	phòng</title>
<title>Kala Hotel | Danh mục phòng</title>
</head>

<body>
	<div class="wrapper">
		<aside id="sidebar" class="expand vh-100 sticky-top">
			<div class="d-flex">
				<button class="toggle-btn" type="button">
					<i class="lni lni-grid-alt"></i>
				</button>
				<div class="sidebar-logo">
					<a th:href="@{/home}">Kala Hotel</a>
				</div>
			</div>
			<ul class="sidebar-nav">
				<!-- Liệt kê tất cả các liên kết mà không cần phân quyền -->
				<li><a th:href="@{/room-category}" class="sidebar-link active">
						<i class="lni lni-tab"></i> <span>Danh mục phòng</span>
				</a> <a th:href="@{/bill-for-rent}" class="sidebar-link"> <i
						class="lni lni-agenda"></i> <span>Phiếu thuê phòng</span>
				</a> <a th:href="@{/search}" class="sidebar-link"> <i
						class="lni lni-search-alt"></i> <span>Tra cứu phòng</span>
				</a> <a th:href="@{/reciept}" class="sidebar-link"> <i
						class="lni lni-postcard"></i> <span>Hóa đơn thanh toán</span>
				</a> <a th:href="@{/revenue}" class="sidebar-link"> <i
						class="lni lni-target-revenue"></i> <span>Báo cáo doanh thu</span>
				</a> <a th:href="@{/authorization}" class="sidebar-link"> <i
						class="lni lni-users"></i> <span>Phân quyền tài khoản</span>
				</a> <a th:href="@{/setting}" class="sidebar-link"> <i
						class="lni lni-cogs"></i> <span>Quy định</span>
				</a></li>
			</ul>
			<div class="sidebar-footer">
				<a th:href="@{/logout}" class="sidebar-link"> <i
					class="lni lni-exit"></i> <span>Đăng xuất</span>
				</a>
			</div>
		</aside>

		<div class="main p-3 bg-white-1">
			<div
				class="shadowCustom overflow-hidden rounded d-flex justify-content-between align-items-center mb-4 p-3 bg-white">
				<h1 style="margin: 0;">Danh mục phòng</h1>
				<h1 style="margin: 0;">
					Xin chào,
					<!--<span th:text="${session.user.fullName}"> </span> -->
				</h1>
			</div>

			<div class="row mx-0">
				<div id="room-category"
					class="h-full rounded overflow-auto shadowCustom bg-white col-8 rounded-3">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">STT</th>
								<th scope="col">Phòng</th>
								<th scope="col">Loại Phòng</th>
								<th scope="col">Đơn giá</th>
								<th scope="col">Ghi chú</th>
								<th scope="col">Thao tác</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="room, iterStat : ${listRooms}">
								<tr>
									<th scope="row" th:text="${iterStat.count}"></th>
									<td th:text="${room.roomName}"></td>
									<td th:text="${room.roomType.roomTypeName}"></td>
									<td th:text="${room.roomType.price}"></td>
									<td class="ghi-chu" data-bs-toggle="tooltip"
										th:data-bs-title="${room.note}" th:text="${room.note}"></td>
									<td>
										<!-- Nút sửa -->
										<button type="button" class="btn btn-info"
											data-bs-toggle="modal"
											th:data-bs-target="'#updateModalRoomCategory' + ${iterStat.count}">
											<i class="lni lni-pencil-alt"></i>
										</button> | <!-- Nút xóa -->
										<button type="button" class="btn btn-danger"
											data-bs-toggle="modal"
											th:data-bs-target="'#deleteModalRoomCategory' + ${iterStat.count}">
											<i class="lni lni-trash-can"></i>
										</button>
									</td>
								</tr>

								<!-- Modal Xóa -->

								<div class="modal fade"
									th:id="'deleteModalRoomCategory' + ${iterStat.count}"
									tabindex="-1" aria-labelledby="exampleModalLabel"
									aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="exampleModalLabel">Xóa
													phòng</h1>
												<button type="button" class="btn-close"
													data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												Bạn có chắc chắn muốn xóa phòng <span
													th:text="${room.roomName}"></span>?
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Đóng</button>
												<form th:action="@{/room-categories/delete}" method="post"
													style="display: inline;">
													<input type="hidden" name="roomID"
														th:value="${room.roomID}" />
													<button type="submit" class="btn btn-danger">Xóa</button>
												</form>
											</div>
										</div>
									</div>
								</div>

								<!-- Modal Sửa -->
								<div class="modal fade"
									th:id="'updateModalRoomCategory' + ${iterStat.count}"
									tabindex="-1" aria-labelledby="exampleModalLabel"
									aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="exampleModalLabel">
													Sửa phòng</h1>
												<button type="button" class="btn-close"
													data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<form th:action="@{/room-categories/update}" method="post">
													<input type="hidden" name="roomID"
														th:value="${room.roomID}" />
													<div class="mb-3">
														<label for="exampleInputPassword1" class="form-label">Tên
															phòng</label> <input type="text" required class="form-control"
															name="nameRoom" th:value="${room.roomName}"
															id="exampleInputPassword1">
													</div>
													<div class="mb-3">
														<label for="label-room-category" class="form-label">Loại
															phòng</label> <select id="label-room-category" name="typeRoom"
															class="form-select">
															<option th:each="typeRoom : ${listTypeRooms}"
																th:value="${typeRoom.roomTypeID}"
																th:text="${typeRoom.roomTypeName} + ' - ' + ${typeRoom.price}">
															</option>
														</select>
													</div>
													<div class="mb-3">
														<label for="exampleInputPassword1" class="form-label">Ghi
															chú</label>
														<textarea class="w-100" name="noteRoom"
															th:text="${room.note}"></textarea>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">Đóng</button>
														<input type="submit" class="btn btn-info" value="Cập nhật" />
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>


								<!--  -->
							</th:block>
						</tbody>
					</table>
				</div>


				<!-- Add new room -->
				<div class="col-3 p-0 d-flex flex-column justify-content-between"
					style="margin-left: 60px;">
					<h5 class="text-center mb-2 bg-white p-2 rounded-3 shadow-custom">
						Thêm phòng mới</h5>
					<form th:action="@{/room-categories/add}"
						class="bg-white p-2 rounded-3 shadow-custom" method="post">
						<div class="mb-3">
							<label for="nameRoom" class="form-label">Tên phòng</label> <input
								type="text" required class="form-control" name="nameRoom"
								id="nameRoom">
						</div>
						<div class="mb-3">
							<label for="typeRoom" class="form-label">Loại phòng</label> <select
								id="typeRoom" name="typeRoom" class="form-select">
								<option th:each="typeRoom : ${listTypeRooms}"
									th:value="${typeRoom.roomTypeID}"
									th:text="${typeRoom.roomTypeName} + ' - ' + ${typeRoom.price}">
								</option>
							</select>
						</div>
						<div class="mb-3">
							<label for="noteRoom" class="form-label">Ghi chú</label>
							<textarea class="form-control" name="noteRoom" id="noteRoom"
								rows="4"></textarea>
						</div>
						<button type="submit" class="btn btn-info d-block w-100"
							style="font-weight: bold;">Thêm</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
