<!DOCTYPE html>
<html lang="vi" th:replace="~{templates/layout :: layout(~{::title}, ~{::body}, ~{})}"
    xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <title th:text="#{session.login.title}">Kala Hotel | Quy định</title>
</head>

<body>
    <div class="wrapper position-relative">
        <aside id="sidebar" class="expand sticky-top" style="height: 100vh;">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="/home">Kala Hotel</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li><a href="/room-category" class="sidebar-link"> <i class="lni lni-tab"></i> <span>Danh mục
                            phòng</span>
                    </a></li>
                <li><a href="/bill-for-rent" class="sidebar-link"> <i class="lni lni-agenda"></i> <span>Phiếu thuê
                            phòng</span>
                    </a></li>
                <li><a href="/search" class="sidebar-link"> <i class="lni lni-search-alt"></i> <span>Tra cứu
                            phòng</span>
                    </a></li>
                <li><a href="/reciept" class="sidebar-link"> <i class="lni lni-postcard"></i> <span>Hóa đơn thanh
                            toán</span>
                    </a></li>
                <li><a href="/revenue" class="sidebar-link"> <i class="lni lni-target-revenue"></i> <span>Báo cáo doanh
                            thu</span>
                    </a></li>
                <li><a href="/authorization" class="sidebar-link"> <i class="lni lni-users"></i> <span>Phân quyền tài
                            khoản</span>
                    </a></li>
                <li><a href="/setting" class="sidebar-link"> <i class="lni lni-cogs"></i> <span>Quy định</span>
                    </a></li>
            </ul>
            <div class="sidebar-footer">
                <a href="/logout" class="sidebar-link"> <i class="lni lni-exit"></i>
                    <span>Đăng xuất</span>
                </a>
            </div>
        </aside>
        <div class="main p-3 bg-white-1">
            <div
                class="shadowCustom overflow-hidden rounded d-flex justify-content-between align-items-center mb-4 p-3 bg-white">
                <h1 style="margin: 0;">Quy định</h1>
                <h1 style="margin: 0;">Xin chào,
                    Tester
                </h1>
            </div>
            <div class="row mx-0 mb-3">
                <div class="col-6 p-0">
                    <div id="room-category"
                        class="position-relative authorization-table-1 rounded overflow-auto shadowCustom bg-white rounded-3 mb-3">
                        <h1 class="text-center py-2">Danh sách loại phòng</h1>
                        <div style="height: 300px; max-height: 300px; overflow-y: scroll; position: relative;">
                            <table class="table table" style="border-collapse: collapse;">
                                <thead style="position: sticky; top: -1px; z-index: 2; background-color: white;">
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Loại phòng</th>
                                        <th scope="col">Đơn giá</th>
                                        <th scope="col">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="typeRoom, iterStat : ${roomTypes}">
                                        <tr>
                                            <th scope="row" th:text="${iterStat.count}">1</th>
                                            <td th:text="${typeRoom.roomTypeName}">Room Name</td>
                                            <td th:text="${typeRoom.price}">Price</td>
                                            <td>
                                                <button data-bs-toggle="modal"
                                                    th:data-bs-target="'#updateModalTypeRoom-' + ${iterStat.count}"
                                                    id="fix-btn" class="btn btn-info">
                                                    <i class="lni lni-pencil-alt"></i>
                                                </button> |
                                                <button data-bs-toggle="modal"
                                                    th:data-bs-target="'#deleteModalTypeRoom-' + ${iterStat.count}"
                                                    class="btn btn-danger">
                                                    <i class="lni lni-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>

                                        <div class="modal fade" th:id="'updateModalTypeRoom-' + ${iterStat.count}"
                                            tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                            Sửa thông tin loại phòng [[${typeRoom.roomTypeName}]]
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form
                                                            th:action="@{/regulations/room-types/{id}(id=${typeRoom.roomTypeID})}"
                                                            method="post">
                                                            <div class="mb-3">
                                                                <label for="recipient-name" class="col-form-label">Loại
                                                                    phòng:</label>
                                                                <input type="text" class="form-control"
                                                                    name="typeRoomName" id="recipient-name"
                                                                    th:value="${typeRoom.roomTypeName}">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="recipient-name" class="col-form-label">Đơn
                                                                    giá:</label>
                                                                <input type="number" class="form-control"
                                                                    name="typeRoomPrice" id="recipient-name"
                                                                    th:value="${typeRoom.price}">
                                                            </div>

                                                            <div class="modal-footer p-0">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Đóng</button>
                                                                <button type="submit" class="btn btn-info fw-bold">Cập
                                                                    nhật</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" th:id="'deleteModalTypeRoom-' + ${iterStat.count}"
                                            tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa phòng
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Bạn có chắc chắn muốn xóa loại phòng
                                                        [[${typeRoom.roomTypeName}]]?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Đóng</button>
                                                        <a th:href="@{/regulations/room-types/{id}/delete(id=${typeRoom.roomTypeID})}"
                                                            class="btn btn-danger">Xóa</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <button data-bs-toggle="modal" data-bs-target="#addModalTypeRoom" id="fix-btn"
                                class="btn btn-info mb-3 mx-3 fw-bold">Thêm loại phòng</button>
                        </div>
                        <div class="modal fade" id="addModalTypeRoom" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm loại phòng</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/regulations/room-types}" method="post">
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">Loại phòng:</label>
                                                <input type="text" class="form-control" name="typeRoomName"
                                                    id="recipient-name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">Đơn giá:</label>
                                                <input type="number" class="form-control" name="typeRoomPrice"
                                                    id="recipient-name">
                                            </div>
                                            <div class="modal-footer p-0">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Đóng</button>
                                                <button type="submit" class="btn btn-info fw-bold">Thêm</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1"></div>

                <div class="col-5 p-0">
                    <div id="room-category"
                        class="position-relative authorization-table-1 rounded overflow-auto shadowCustom bg-white rounded-3 mb-3">
                        <h1 class="text-center py-2">Danh sách loại khách</h1>
                        <div style="height: 300px; max-height: 300px; overflow-y: scroll; position: relative;">
                            <table class="table table-hover">
                                <thead style="position: sticky; top: -1px; z-index: 2; background-color: white;">
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Loại khách</th>
                                        <th scope="col">Tỉ lệ phụ thu</th>
                                        <th scope="col">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="guestType, iterStat : ${guestTypes}">
                                        <tr>
                                            <th scope="row" th:text="${iterStat.count}">1</th>
                                            <td th:text="${guestType.typeName}">Loại khách 1</td>
                                            <td th:text="${guestType.surchargeRate}">10%</td>
                                            <td>
                                                <button data-bs-toggle="modal"
                                                    th:data-bs-target="'#'+ ${iterStat.count} + 'updateModalTypeCustomer'"
                                                    id="fix-btn" class="btn btn-info">
                                                    <i class="lni lni-pencil-alt"></i>
                                                </button> |
                                                <button data-bs-toggle="modal"
                                                    th:data-bs-target="'#'+ ${iterStat.count} + 'deleteModalTypeCustomer'"
                                                    class="btn btn-danger">
                                                    <i class="lni lni-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <div class="modal fade" th:id="${iterStat.count} + 'updateModalTypeCustomer'"
                                            tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                            Sửa thông tin loại khách
                                                            <span th:text="${guestType.typeName}"></span>
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form
                                                            th:action="@{/regulations/guest-types/{id}(id=${guestType.id})}"
                                                            method="post">
                                                            <div class="mb-3">
                                                                <label for="recipient-name" class="col-form-label">Loại
                                                                    khách:</label>
                                                                <input type="text" class="form-control"
                                                                    name="guestTypeName" id="recipient-name"
                                                                    th:value="${guestType.typeName}">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="recipient-name" class="col-form-label">Tỉ lệ
                                                                    phụ
                                                                    thu:</label>
                                                                <input type="number" min="0" max="10" step="0.01"
                                                                    class="form-control" name="surchargeRate"
                                                                    id="recipient-name"
                                                                    th:value="${guestType.surchargeRate}">
                                                            </div>
                                                            <div class="modal-footer p-0">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Đóng</button>
                                                                <button type="submit" class="btn btn-info fw-bold">Cập
                                                                    nhật</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade" th:id="${iterStat.count} + 'deleteModalTypeCustomer'"
                                            tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa loại
                                                            khách</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Bạn có chắc chắn muốn xóa loại khách <span
                                                            th:text="${guestType.typeName}"></span>?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Đóng</button>
                                                        <a th:href="@{/regulations/guest-types/{id}/delete(id=${guestType.id})}"
                                                            class="btn btn-danger">Xóa</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>

                        <div>
                            <button data-bs-toggle="modal" data-bs-target="#addModalTypeCustomer" id="fix-btn"
                                class="btn btn-info mb-3 mx-3 fw-bold">Thêm loại khách</button>
                        </div>

                        <!-- Add Modal -->
                        <div class="modal fade" id="addModalTypeCustomer" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm loại khách</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/regulations/guest-types}" method="post">
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">Loại khách:</label>
                                                <input type="text" name="typeName" class="form-control"
                                                    id="recipient-name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">Tỉ lệ phụ
                                                    thu:</label>
                                                <input type="number" min="0" max="10" step="0.01" name="surchargeRate"
                                                    class="form-control" id="recipient-name">
                                            </div>
                                            <div class="modal-footer p-0">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Đóng</button>
                                                <button type="submit" class="btn btn-info fw-bold">Thêm</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mx-0">
                <div class="col-6 p-0">
                    <div id="room-category"
                        class="position-relative authorization-table-1 rounded overflow-auto shadowCustom bg-white rounded-3 mb-3">
                        <h1 class="text-center py-2">Tỉ lệ phụ thu</h1>
                        <div style="height: 300px; max-height: 300px; overflow-y: scroll; position: relative;">
                            <table class="table table-hover">
                                <thead style="position: sticky; top: -1px; z-index: 2; background-color: white;">
                                    <tr>
                                        <th scope="col">Khách thứ</th>
                                        <th scope="col">Tỉ lệ</th>
                                        <th scope="col">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="surcharge : ${surchargeRates}">
                                        <tr>
                                            <td th:text="${surcharge.extraGuestCount}"></td>
                                            <td th:text="${surcharge.surchargeRate}"></td>
                                            <td>
                                                <button data-bs-toggle="modal"
                                                    th:data-bs-target="'#' + ${surcharge.extraGuestCount} + 'updateModalSurcharge'"
                                                    id="fix-btn" class="btn btn-info">
                                                    <i class="lni lni-pencil-alt"></i>
                                                </button> |
                                                <button data-bs-toggle="modal"
                                                    th:data-bs-target="'#' + ${surcharge.extraGuestCount} + 'deleteModalSurcharge'"
                                                    class="btn btn-danger">
                                                    <i class="lni lni-trash-can"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <div class="modal fade"
                                            th:id="${surcharge.extraGuestCount} + 'updateModalSurcharge'" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                            Sửa thông tin phụ thu khách thứ
                                                            <span th:text="${surcharge.extraGuestCount}"></span>
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form
                                                            th:action="@{/regulations/surcharge-rates/{id}(id=${surcharge.extraGuestCount})}"
                                                            method="post">
                                                            <div class="mb-3">
                                                                <label for="recipient-name" class="col-form-label">Tỉ
                                                                    lệ:</label>
                                                                <input type="number" min="0" max="10" step="0.01"
                                                                    class="form-control" name="surchargeRate"
                                                                    id="recipient-name"
                                                                    th:value="${surcharge.surchargeRate}">
                                                            </div>
                                                            <div class="modal-footer p-0">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Đóng</button>
                                                                <button type="submit" class="btn btn-info fw-bold">Cập
                                                                    nhật</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal fade"
                                            th:id="${surcharge.extraGuestCount} + 'deleteModalSurcharge'" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa phụ thu
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Bạn có chắc chắn muốn xóa tỉ lệ phụ thu khách thứ
                                                        <span th:text="${surcharge.extraGuestCount}"></span> ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Đóng</button>
                                                        <a th:href="@{/regulations/surcharge-rates/{id}/delete(id=${surcharge.extraGuestCount})}"
                                                            class="btn btn-danger">Xóa</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <button data-bs-toggle="modal" data-bs-target="#addModalSurcharge" id="fix-btn"
                                class="btn btn-info mb-3 mx-3 fw-bold">Thêm</button>
                        </div>

                        <div class="modal fade" id="addModalSurcharge" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm phụ thu khách</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/regulations/surcharge-rates}" method="post">
                                            <div class="mb-3">
                                                <label for="orderOfCustomer" class="col-form-label">Khách thứ: </label>
                                                <input type="number" min="3" max="100" step="1" class="form-control"
                                                    name="id" id="orderOfCustomer" value="3">
                                            </div>
                                            <div class="mb-3">
                                                <label for="surchargeRate" class="col-form-label">Tỉ lệ: </label>
                                                <input type="number" min="1" max="100" step="0.01" class="form-control"
                                                    name="surchargeRate" id="surchargeRate" value="1">
                                            </div>

                                            <div class="modal-footer p-0">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Đóng</button>
                                                <button type="submit" class="btn btn-info fw-bold">Thêm</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-1"></div>

                <div class="col-5 p-0">
                    <div id="room-category"
                        class="position-relative authorization-table-1 rounded overflow-auto shadowCustom bg-white rounded-3 mb-3">
                        <h1 class="text-center py-2">Tham số</h1>
                        <div style="height: 300px; max-height: 300px; overflow-y: scroll; position: relative;">
                            <table class="table table-hover">
                                <thead style="position: sticky; top: -1px; z-index: 2; background-color: white;">
                                    <tr>
                                        <th scope="col">Tham số</th>
                                        <th scope="col">Giá trị</th>
                                        <th scope="col">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="setting : ${settings}">
                                        <tr>
                                            <td th:text="${setting.settingName}"></td>
                                            <td th:text="${setting.value}"></td>
                                            <td>
                                                <button data-bs-toggle="modal"
                                                    th:data-bs-target="'#' + ${setting.settingName} + 'updateModalParam'"
                                                    id="fix-btn" class="btn btn-info">
                                                    <i class="lni lni-pencil-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <div class="modal fade" th:id="${setting.settingName} + 'updateModalParam'"
                                            tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Sửa thông
                                                            tin tham số
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form
                                                            th:action="@{/regulations/settings/{id}(id=${setting.settingName})}"
                                                            method="post">
                                                            <div class="mb-3">
                                                                <label for="paramName" class="col-form-label">Tên tham
                                                                    số:</label>
                                                                <input type="text" class="form-control" name="paramName"
                                                                    id="paramName" th:value="${setting.settingName}"
                                                                    readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="paramValue" class="col-form-label">Giá
                                                                    trị:</label>
                                                                <input type="number" min="1" step="1"
                                                                    class="form-control" id="paramValue"
                                                                    name="paramValue" th:value="${setting.value}">
                                                            </div>

                                                            <div class="modal-footer p-0">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Đóng</button>
                                                                <button type="submit" class="btn btn-info fw-bold">Cập
                                                                    nhật</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>